{% extends 'base/home.html' %}
{% block login %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>{{title}}</b></a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"></p>
      <form action="{% url 'bases:login' %}" method="post">
       <input type="hidden" name="next" value="{{ next }}">
       {% csrf_token %}
       {% include 'base/field_error.js' %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="id_username" name="username" placeholder="Usuario">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="id_password" name="password" placeholder="Contraseña">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
</body>
{% endblock %}
