{% extends 'base/list.html' %}

{% block columns %}
  <tr>
    <th scope="col" >Username</th>
    <th scope="col" >Nombre Completo</th>
    <th scope="col" >correo electrónico</th>
    <th class="all">Opciones</th>
  </tr>
{% endblock %}

{% block rows %}
{% for m in object_list  %}
  <tr>
    <td>{{m.username}}</td>
    <td>{{m.first_name}} {{m.last_name}}</td>
    <td>{{m.email}}</td>
    <td>
      <a href="{% url 'usuario:update_usuario' m.pk %}" class="btn btn-warning btn-xs btn-flat">
        <i class="fas fa-edit"></i></a>
    </td>
  </tr>
{% endfor %}
{% endblock %}
